<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Monitoring Web</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke-width: 1.5px;
}
</style>
<script src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="webjars/d3js/3.5.16/d3.min.js"></script>
</head>
<body>
	<div id="beats" style="float: left">
		<div id="filebeat_chart"></div>
		<div id="filebeat_info" style="text-align: center">
			<b>FileBeat</b>
		</div>
	</div>
	<div id="shipping" style="float: left">
		<div id="shipping_chart"></div>
		<div id="shipping_info" style="text-align: center">
			<b>Shipping</b>
		</div>
	</div>
	<div id="indexing" style="float: left">
		<div id="indexing_chart"></div>
		<div id="indexing_info" style="text-align: center">
			<b>Indexing</b>
		</div>
	</div>
	<div id="elasticsearch" style="float: left">
		<div id="elasticsearch_chart"></div>
		<div id="elasticsearch_info" style="text-align: center">
			<b>Elasticsearch</b>
		</div>
	</div>
	<script type="text/javascript">
		//<![CDATA[
		var margin = {
			top : 20,
			right : 20,
			bottom : 30,
			left : 50
		}, width = 480 - margin.left - margin.right, height = 250 - margin.top
				- margin.bottom;

		var formatDate = d3.time.format("%Y-%m-%dT%H:%M:%S.%LZ");

		var x = d3.time.scale().range([ 0, width ]);
		var y = d3.scale.linear().range([ height, 0 ]);

		var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(
				d3.time.seconds, 5);
		var yAxis = d3.svg.axis().scale(y).orient("left");

		function drawLine(data, area, color) {
			for (var i = 0; i < data.length; i++) {
				data[i].date = formatDate.parse(data[i].date);
				data[i].count = +data[i].count;
			}

			var line = d3.svg.line().interpolate("linear").x(function(d) {
				return x(d.date);
			}).y(function(d) {
				return y(d.count);
			});

			d3.select(area).select("svg").remove();
			var svg = d3.select(area).append("svg").attr("width",
					width + margin.left + margin.right).attr("height",
					height + margin.top + margin.bottom).append("g").attr(
					"transform",
					"translate(" + margin.left + "," + margin.top + ")");

			x.domain(d3.extent(data, function(d) {
				return d.date;
			}));
			y.domain([ 0, d3.max(data, function(d) {
				return d.count;
			}) ]);

			svg.selectAll(".vline").data(d3.range(30)).enter().append("line")
					.attr("x1", function(d) {
						return d * width / 29;
					}).attr("x2", function(d) {
						return d * width / 29;
					}).attr("y1", function(d) {
						return 0;
					}).attr("y2", function(d) {
						return height;
					}).style("stroke", "#eee");

			svg.append("g").attr("class", "x axis").attr("transform",
					"translate(0," + height + ")").call(xAxis);
			svg.append("g").attr("class", "y axis").call(yAxis).append("text")
					.attr("transform", "rotate(-90)").attr("y", 6).attr("dy",
							".71em").style("text-anchor", "end").text("Event");
			svg.append("path").datum(data).attr("class", "line")
					.attr("d", line).attr("stroke", color);
		}

		$.drawChart = function() {
			$.ajax({
				url : '/mon/getCount',
				data : {
					"date_from" : "2016-05-01T00:00:00.000Z",
					"date_to" : "2016-05-01T00:00:30.000Z",
					"type" : "filebeat"
				}
			}).then(function(data) {
				drawLine(data, "#filebeat_chart", "red");
			});

			$.ajax({
				url : '/mon/getCount',
				data : {
					"date_from" : "2016-05-01T00:00:00.000Z",
					"date_to" : "2016-05-01T00:00:30.000Z",
					"type" : "shipping"
				}
			}).then(function(data) {
				drawLine(data, "#shipping_chart", "green");
			});

			$.ajax({
				url : '/mon/getCount',
				data : {
					"date_from" : "2016-05-01T00:00:00.000Z",
					"date_to" : "2016-05-01T00:00:30.000Z",
					"type" : "indexing"
				}
			}).then(function(data) {
				drawLine(data, "#indexing_chart", "blue");
			});

			var date_from = new Date(Date.now() - 1000 * 30);
			var date_to = new Date();

			$.ajax({
				url : '/mon/getCount',
				data : {
					"date_from" : $.esTimeFormat(date_from),
					"date_to" : $.esTimeFormat(date_to),
					"type" : "elasticsearch"
				}
			}).then(function(data) {
				drawLine(data, "#elasticsearch_chart", "purple");
			});
		}

		$.esTimeFormat = function(date) {
			function pad2(n) { // always returns a string
				return (n < 10 ? '0' : '') + n;
			}

			return date.getFullYear() + '-' + pad2(date.getMonth() + 1) + '-'
					+ pad2(date.getDate()) + 'T' + pad2(date.getHours()) + ':'
					+ pad2(date.getMinutes()) + ':' + pad2(date.getSeconds())
					+ '.000Z';
		}

		$(document).ready(function() {
			setInterval('$.drawChart()', 1000);
		});
		//]]>
	</script>
</body>
</html>